.modal {
    position: fixed;
    top: 10vh;
    left: 25vw;
    max-height: 50vh;
    width: 50vw;
    background-color: rgb(132, 165, 237);
    border-radius: 10px;
    padding: 3rem;
    box-shadow: 0 0 5px rgb(111, 111, 111);
}

h2 {
    text-align: center;
    margin: 0 0 5vh;
}

p {
    margin: 0 0 5px;
}

.button-container {
    display: flex;
    justify-content: center;
}

#modal button {
    margin: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    width: 20vw;
}

h2 {
    text-align: center;
    margin: 0 0 5vh;
}